body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #444444;
  margin: 0; }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

.main-container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto; }

.main-catalog-container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto; }

.button {
  display: block;
  color: #444444;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 10px;
  border: 2px solid #444444;
  text-align: center;
  transition: all 0.2s ease; }

.button:hover,
.button:focus {
  color: #fff;
  background-color: #444444; }

.button:active {
  color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .main-container {
    width: 768px;
    padding: 0 50px; }
  .main-catalog-container {
    width: 768px;
    padding: 0 50px; } }

@media (min-width: 1250px) {
  .main-container {
    width: 1250px;
    padding: 0 100px; }
  .site-wrapper {
    width: 100%;
    padding-left: 175px; }
  .main-catalog-container {
    width: 1150px;
    padding: 0 50px; } }

.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  .catalog-list__element a {
    color: #000;
    line-height: 24px;
    text-decoration: none;
    transition: all 0.15s ease; }
  .catalog-list__element a:hover,
  .catalog-list__element a:focus {
    color: rgba(68, 68, 68, 0.6); }
  .catalog-list__element a:active {
    color: rgba(68, 68, 68, 0.3); }

.page-header {
  position: relative; }

.main-nav {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ececec; }
  .main-nav__logo {
    width: 86px;
    height: 35px;
    flex-shrink: 0;
    margin-left: 86px;
    margin-right: auto;
    margin-top: 21px;
    margin-bottom: 22px;
    transition: all 0.1s ease; }
  .main-nav__logo:hover, .main-nav__logo:focus {
    opacity: 0.6; }
  .main-nav__logo:active {
    opacity: 0.3; }
  .main-nav__logo-mobile {
    width: 86px;
    height: 35px; }
  .main-nav__logo-tablet {
    display: none; }
  .main-nav__logo-desktop {
    display: none; }
  .main-nav__toggle {
    position: relative;
    margin-top: 20px;
    width: 35px;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent; }
  .main-nav__delivery {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
    margin: 0;
    display: none; }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  right: 1px;
  top: 13px;
  width: 20px;
  height: 2px;
  background-color: #221f1f;
  box-shadow: 0 6px 0 0 #221f1f, 0 12px 0 0 #221f1f; }

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 1px;
  background-color: #221f1f;
  width: 20px;
  height: 2px;
  box-shadow: none; }

.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.catalog-list {
  width: 100%; }
  .catalog-list a {
    display: block;
    padding: 28px 30px 28px 75px; }

.user-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none; }
  .user-list__element a {
    position: relative;
    color: #000;
    line-height: 24px;
    text-decoration: none;
    padding: 28px 30px 28px 75px;
    display: block;
    transition: all 0.15s ease; }
  .user-list__element a:hover,
  .user-list__element a:focus {
    color: rgba(68, 68, 68, 0.6); }
  .user-list__element a:active {
    color: rgba(68, 68, 68, 0.3); }
  .user-list__basket:hover .user-list__basket-icon, .user-list__basket:focus .user-list__basket-icon {
    fill: #63d1bb; }
  .user-list__basket:active .user-list__basket-icon {
    fill: #d0f1ea; }
  .user-list__basket-icon {
    position: absolute;
    width: 21px;
    height: 18px;
    top: 30px;
    left: 30px;
    fill: #d3d2d2;
    transition: all 0.15s ease; }
  .user-list__search-icon {
    position: absolute;
    width: 18px;
    height: 19px;
    top: 31px;
    left: 32px;
    fill: #d3d2d2;
    transition: all 0.15s ease; }
  .user-list__search:hover .user-list__search-icon, .user-list__search:focus .user-list__search-icon {
    fill: #63d1bb; }
  .user-list__search:active .user-list__search-icon {
    fill: #d0f1ea; }

.sale-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none; }
  .sale-list__element a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.15s ease; }
  .sale-list__element a:hover,
  .sale-list__element a:focus {
    color: rgba(68, 68, 68, 0.6); }
  .sale-list__element a:active {
    color: rgba(68, 68, 68, 0.3); }

@media (max-width: 767px) {
  .catalog-list {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 78px;
    background-color: #fff; }
    .catalog-list a {
      border-top: 1px solid #ececec; }
  .user-list {
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 240px;
    background-color: #fff; }
    .user-list__element a {
      border-top: 1px solid #ececec; }
  .main-nav--opened .catalog-list,
  .main-nav--opened .user-list {
    display: block; }
  .main-nav--nojs .catalog-list,
  .main-nav--nojs .user-list {
    display: block;
    position: static; } }

@media (min-width: 768px) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    width: 335px;
    order: 2; }
    .catalog-list__element a {
      width: 167px;
      font-size: 15px;
      padding: 18px 12px 18px 0; }
  .user-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 350px; }
    .user-list__element a {
      min-height: 90px;
      padding: 31px 0px 31px 75px; }
    .user-list__element .user-list__search {
      width: 85px;
      padding: 36px 31px 33px 33px; }
    .user-list__search {
      width: 85px;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec; }
    .user-list__basket {
      width: 265px; }
    .user-list__search--hide {
      display: none; }
    .user-list__basket-icon {
      top: 35px;
      left: 31px; }
    .user-list__search-icon {
      top: 36px;
      left: 32px; }
  .user-list::before {
    content: "";
    position: absolute;
    background-color: #ececec;
    height: 1px;
    width: 1150px;
    bottom: 0;
    left: -755px; }
  .main-nav {
    align-items: flex-start; }
    .main-nav__toggle {
      display: none; }
    .main-nav__logo {
      width: 113px;
      height: 46px;
      margin-left: 0; }
    .main-nav__logo-mobile {
      display: none; }
    .main-nav__logo-tablet {
      display: block;
      width: 113px;
      height: 46px; }
    .main-nav__logo-desktop {
      display: none; }
    .main-nav__delivery {
      order: 4;
      display: block;
      width: 232px;
      padding: 18px 0;
      margin-left: auto; } }

@media (min-width: 1250px) {
  .catalog-list {
    order: 0;
    width: 410px; }
    .catalog-list__element a {
      font-size: 17px;
      width: 185px;
      padding: 33px 0; }
    .catalog-list__element:first-child {
      margin-right: 35px; }
  .main-nav__logo {
    order: 1;
    width: 149px;
    height: 72px;
    margin-left: 50px;
    margin-top: 9px; }
  .main-nav__logo-tablet {
    display: none; }
  .main-nav__logo-desktop {
    display: block;
    width: 149px;
    height: 72px; }
  .user-list {
    order: 2; }
  .sale-list {
    order: 3;
    display: flex;
    flex-wrap: wrap;
    width: 410px; }
    .sale-list__element a {
      width: 185px;
      display: block;
      font-size: 15px;
      padding: 15px 0; }
    .sale-list__element:first-child {
      margin-right: 35px; } }

.handmade {
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -7px;
  padding-top: 78px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .handmade {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto; } }
  .handmade__title {
    font-size: 27px;
    color: #000;
    width: 245px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 125px; }
  .handmade__list {
    margin-top: 55px;
    padding: 0;
    margin: 0;
    list-style: none; }
  .handmade__element {
    position: relative;
    width: 100%;
    font-size: 19px;
    line-height: 24px; }
  .handmade__element--interior {
    background-color: #63d1bb; }
    .handmade__element--interior .handmade__button:hover,
    .handmade__element--interior .handmade__button:focus {
      background-color: #59d5bc; }
      .handmade__element--interior .handmade__button:hover .handmade__interior,
      .handmade__element--interior .handmade__button:focus .handmade__interior {
        fill: #29a592; }
    .handmade__element--interior .handmade__button:active {
      color: rgba(255, 255, 255, 0.3); }
      .handmade__element--interior .handmade__button:active .handmade__interior {
        fill: #44c0aa; }
  .handmade__element--toys {
    background-color: #56c3b2; }
    .handmade__element--toys .handmade__button:hover,
    .handmade__element--toys .handmade__button:focus {
      background-color: #46c1ae; }
      .handmade__element--toys .handmade__button:hover .handmade__toy,
      .handmade__element--toys .handmade__button:focus .handmade__toy {
        fill: #239f8e; }
    .handmade__element--toys .handmade__button:active {
      color: rgba(255, 255, 255, 0.3); }
      .handmade__element--toys .handmade__button:active .handmade__toy {
        fill: #44c0aa; }
  .handmade__button {
    width: 100%;
    padding: 28px 0;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    text-align: start;
    background-color: transparent;
    transition: all 0.25s ease; }
  .handmade__wrapper {
    background-color: transparent;
    position: relative;
    width: 320px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 160px; }
  .handmade__interior {
    position: absolute;
    width: 40px;
    height: 62px;
    top: -5px;
    right: 36px;
    fill: #3bb09d;
    transition: all 0.17s ease; }
  .handmade__toy {
    position: absolute;
    width: 60px;
    height: 61px;
    top: -8px;
    right: 26px;
    fill: #35a999;
    transition: all 0.17s ease; }

@media (min-width: 768px) {
  .handmade {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -48px;
    padding-top: 108px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .handmade {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto; } }

@media (min-width: 768px) {
    .handmade__title {
      font-size: 43px;
      line-height: 50px;
      width: 505px;
      margin-bottom: 370px; }
    .handmade__list {
      width: 670px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto; }
    .handmade__button {
      font-size: 20px;
      line-height: 30px;
      padding: 30px 167px 28px 36px; }
    .handmade__element {
      width: 334px; }
    .handmade__wrapper {
      width: auto;
      margin: 0;
      padding: 0; }
    .handmade__interior {
      right: -131px; }
    .handmade__toy {
      right: -134px; }
    .handmade__element--interior::before, .handmade__element--toys::before {
      content: "";
      position: absolute;
      width: 334px;
      height: 10px;
      left: 0;
      bottom: 0;
      background-image: url("../img/icon-bg-zigzag-fill.svg");
      background-size: auto 22px;
      background-repeat: repeat-X; } }

@media (min-width: 1250px) {
  .handmade {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: center -60px;
    padding-top: 97px; }
    .handmade__title {
      font-size: 53px;
      line-height: 57px;
      width: 620px;
      margin-bottom: 355px; }
    .handmade__button {
      padding: 33px 350px 28px 36px; }
    .handmade__element {
      width: 524px; }
    .handmade__list {
      margin-bottom: 88px;
      width: 1050px; }
    .handmade__interior {
      right: -314px; }
    .handmade__toy {
      right: -315px; }
    .handmade__element--interior::before, .handmade__element--toys::before {
      width: 525px;
      height: 14px;
      background-size: auto 35px; }
    .handmade__element--interior::before {
      background-position: -8px 0; } }

.goods {
  padding-top: 32px;
  padding-bottom: 42px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: 0 bottom;
  background-repeat: repeat-X;
  background-size: auto 7px; }
  .goods__title {
    font-size: 25px;
    line-height: 30px;
    color: #000;
    margin: 0;
    margin-bottom: 3px; }
  .goods__top {
    margin: 0;
    line-height: 20px;
    color: #63d1bb;
    text-transform: uppercase; }
  .goods__description {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin: 0; }
  .goods__info {
    margin-top: 17px;
    margin-bottom: 28px;
    width: 100%;
    border-collapse: collapse; }
  .goods__info td {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    border-bottom: 1px solid #ececec;
    padding: 10px 0; }
  .goods__info td:first-child {
    width: 90px;
    padding-right: 5px; }
  .goods__cost {
    line-height: 24px;
    text-align: center;
    margin: 0;
    margin-top: 25px; }
  .goods__order {
    margin-top: 25px; }
  .goods__column {
    margin-top: 27px; }
  .goods__photo {
    width: 260px;
    height: 315px; }

@media (min-width: 768px) {
  .goods {
    padding-top: 50px;
    padding-bottom: 70px;
    background-size: auto 15px; }
    .goods__flex {
      display: flex; }
    .goods__title {
      margin: 0;
      font-size: 43px;
      line-height: 50px;
      width: 500px; }
    .goods__top {
      padding-top: 10px;
      margin-left: 70px;
      line-height: 17px;
      width: 80px;
      text-align: center; }
    .goods__column {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 456px; }
    .goods__description {
      width: 290px;
      font-size: 17px;
      line-height: 30px; }
    .goods__info {
      width: 290px;
      margin-top: 40px;
      margin-bottom: 0; }
    .goods__cost {
      font-size: 20px;
      margin-top: 50px;
      width: 290px; }
    .goods__order {
      width: 290px; }
    .goods__photo {
      order: 2;
      width: 333px;
      height: 404px;
      margin-left: 44px; } }

@media (min-width: 1250px) {
  .goods {
    padding-bottom: 0;
    background-image: none; }
    .goods__title {
      z-index: 2;
      font-size: 53px;
      line-height: 57px;
      width: 530px; }
    .goods .site-wrapper {
      padding-bottom: 96px;
      background-image: url(../img/bg-zigzag-line.svg);
      background-repeat: repeat-X;
      background-position: 0 bottom;
      background-size: auto 23px; }
    .goods__flex {
      position: relative;
      margin-bottom: -108px; }
    .goods__top {
      position: absolute;
      margin: 0;
      line-height: 17px;
      left: -130px;
      top: 0;
      padding-top: 15px; }
    .goods__photo {
      width: 525px;
      height: 636px; }
    .goods__description {
      padding-top: 160px; }
    .goods__column {
      max-height: 710px;
      margin-top: 0; }
    .goods__info {
      margin-top: 57px; }
    .goods__cost {
      margin-top: 100px; }
    .goods__order {
      margin-top: 30px; } }

.about-us {
  padding-top: 30px;
  padding-bottom: 58px; }
  .about-us__title {
    font-size: 25px;
    line-height: 30px;
    color: #000;
    margin: 0; }
  .about-us__list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .about-us__element {
    position: relative;
    padding-top: 55px;
    margin-top: 30px;
    line-height: 20px;
    color: #000; }
    .about-us__element svg {
      position: absolute; }
  .about-us__element--eco {
    width: 187px; }
  .about-us__element--style {
    width: 210px; }
  .about-us__element--like {
    width: 190px; }
  .about-us__element--love {
    width: 220px; }
  .about-us__element--manufacturer {
    width: 260px; }
  .about-us__element--gift {
    width: 210px; }
  .about-us__flower {
    width: 33px;
    height: 38px;
    top: 7px;
    left: 7px; }
  .about-us__money {
    width: 47px;
    height: 27px;
    left: 0;
    top: 0; }
  .about-us__heart {
    width: 34px;
    height: 27px;
    left: 7px;
    top: 7px; }
  .about-us__ball {
    width: 35px;
    height: 34px;
    left: 4px;
    top: 4px; }
  .about-us__rocket {
    width: 55px;
    height: 23px;
    left: -6px;
    top: 4px; }
  .about-us__gift {
    width: 33px;
    height: 32px;
    left: 4px;
    top: 3px; }

@media (min-width: 768px) {
  .about-us {
    padding-top: 55px;
    padding-bottom: 80px; }
    .about-us__list {
      display: flex;
      flex-wrap: wrap; }
    .about-us__money {
      left: 1px; }
    .about-us__element {
      width: 334px;
      margin-top: 56px;
      font-size: 20px;
      line-height: 22px;
      padding-top: 55px; }
    .about-us__title {
      font-size: 43px;
      line-height: 50px; }
    .about-us__flower {
      left: 8px; }
    .about-us__element--eco {
      padding-right: 120px; }
    .about-us__element--style {
      order: 3;
      padding-right: 90px; }
    .about-us__element--like {
      order: 5;
      padding-right: 115px; }
    .about-us__element--love {
      order: 2;
      padding-right: 75px; }
    .about-us__element--manufacturer {
      order: 4;
      padding-right: 30px; }
    .about-us__element--gift {
      order: 6;
      padding-right: 90px; } }

@media (min-width: 1250px) {
  .about-us {
    padding-top: 68px;
    padding-bottom: 88px; }
    .about-us__element {
      width: 350px; }
    .about-us__element--eco {
      padding-right: 135px; }
    .about-us__element--style {
      padding-right: 105px; }
    .about-us__element--like {
      padding-right: 130px; }
    .about-us__element--love {
      padding-right: 90px; }
    .about-us__element--manufacturer {
      padding-right: 45px; }
    .about-us__element--gift {
      padding-right: 105px; } }

.reviews {
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: 0 bottom;
  background-size: auto 7px;
  background-repeat: repeat-X; }
  .reviews__title {
    margin: 0;
    font-size: 25px;
    color: #000; }
  .reviews .main-container {
    padding-bottom: 51px; }
  .reviews__description {
    margin: 0;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400; }
  .reviews__name {
    margin: 0;
    margin-top: 35px;
    line-height: 24px;
    color: #000; }
  .reviews__inst {
    margin: 0;
    margin-top: 8px;
    font-weight: 400; }
  .reviews__button {
    position: relative;
    padding: 0;
    margin-top: 34px;
    border: 0;
    display: inline-block;
    width: 130px;
    height: 52px;
    background-color: transparent;
    border: 1px solid #ececec;
    cursor: pointer; }
  .reviews__button--left:hover .reviews__arrow-left, .reviews__button--left:focus .reviews__arrow-left {
    fill: #666666; }
  .reviews__button--left:active .reviews__arrow-left {
    fill: #b2b2b2; }
  .reviews__button--right:hover .reviews__arrow-right, .reviews__button--right:focus .reviews__arrow-right {
    fill: #666666; }
  .reviews__button--right:active .reviews__arrow-right {
    fill: #b2b2b2; }
  .reviews__arrow-left {
    position: absolute;
    width: 51px;
    height: 26px;
    top: 12px;
    left: 40px;
    transition: all 0.17s ease; }
  .reviews__arrow-right {
    position: absolute;
    width: 51px;
    height: 26px;
    top: 12px;
    right: 40px;
    transition: all 0.17s ease; }
  .reviews__write {
    margin-top: 33px; }

@media (min-width: 768px) {
  .reviews {
    padding-top: 80px;
    background-image: none; }
    .reviews .site-wrapper {
      display: flex;
      flex-wrap: wrap; }
    .reviews .main-container {
      padding-top: 75px;
      padding-bottom: 130px;
      background-image: url("../img/bg-zigzag-line.svg"), url("../img/review@1x.jpg");
      background-repeat: repeat-X, no-repeat;
      background-position: 0 bottom, 0 0;
      background-size: auto 16px, auto auto; } }
    @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
      .reviews .main-container {
        background-image: url("../img/bg-zigzag-line.svg"), url("../img/review@2x.jpg");
        background-repeat: repeat-X, no-repeat;
        background-position: 0 bottom, 0 0;
        background-size: auto 16px, 350px auto; } }

@media (min-width: 768px) {
    .reviews__title {
      width: 440px;
      display: block;
      word-wrap: break-word;
      order: -2;
      font-size: 43px;
      line-height: 50px; }
    .reviews__description {
      font-size: 17px;
      margin-top: 45px; }
    .reviews__name {
      margin-top: 45px;
      font-size: 18px; }
    .reviews__inst {
      margin-top: 10px; }
    .reviews__write {
      order: -1;
      margin-top: 0;
      width: 175px;
      margin-left: auto;
      word-wrap: break-word;
      align-self: flex-start; }
    .reviews__button {
      margin-top: 65px;
      width: 84px;
      border: 0; }
    .reviews__button--left {
      margin-left: auto; }
    .reviews__arrow-left {
      top: 13px;
      left: 11px; }
    .reviews__arrow-right {
      top: 13px;
      right: 11px; } }

@media (min-width: 1250px) {
  .reviews {
    padding-top: 74px; }
    .reviews .main-container {
      background-image: none;
      padding-bottom: 0; }
    .reviews .site-wrapper {
      padding-top: 70px;
      padding-bottom: 185px;
      background-image: url("../img/bg-zigzag-line.svg"), url("../img/review@1x.jpg");
      background-repeat: repeat-X, no-repeat;
      background-position: 0 bottom, 0 0;
      background-size: auto 23px, auto auto; } }
    @media (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1250px) and (min-resolution: 144dpi), (min-width: 1250px) and (min-resolution: 1.5dppx) {
      .reviews .site-wrapper {
        background-image: url("../img/bg-zigzag-line.svg"), url("../img/review@2x.jpg");
        background-size: auto 23px, 350px auto; } }

@media (min-width: 1250px) {
    .reviews__title {
      font-size: 53px;
      line-height: 57px;
      width: 600px; }
    .reviews__name {
      margin-top: 47px; }
    .reviews__button {
      margin-top: 47px;
      width: 88px; }
    .reviews__arrow-left {
      left: 19px; }
    .reviews__arrow-right {
      right: 19px; } }

.contacts {
  padding-top: 40px;
  padding-bottom: 40px; }
  .contacts__table {
    table-layout: fixed;
    width: 100%; }
  .contacts__title {
    margin: 0;
    font-size: 18px;
    color: #000;
    margin-bottom: 25px; }
  .contacts__table tr {
    display: inline-block;
    margin-top: 23px;
    width: 100%; }
  .contacts__table tr:first-child {
    margin: 0; }
  .contacts__table td {
    display: inline-block;
    width: 190px;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
    word-wrap: break-word; }
  .contacts__table td:first-child {
    width: 60px;
    vertical-align: top;
    padding-right: 10px; }
  .contacts__mail {
    display: inline-block;
    position: relative;
    color: #444444;
    text-decoration: none;
    transition: all 0.15s ease; }
  .contacts__mail:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #444444;
    left: 0;
    bottom: 0; }
  .contacts__mail:hover, .contacts__mail:focus {
    color: rgba(68, 68, 68, 0.6); }
    .contacts__mail:hover .contacts__mail:after, .contacts__mail:focus .contacts__mail:after {
      background-color: #46c1ae; }
  .contacts__mail:active {
    color: rgba(68, 68, 68, 0.3); }
  .contacts__photo {
    margin-top: 34px;
    width: 100%;
    height: 457px;
    background-image: url("../img/map-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .contacts__photo {
        background-image: url("../img/map-mobile@2x.jpg");
        background-size: 320px auto; } }
  .contacts__write {
    margin-top: 40px; }
  .contacts__wrapper {
    width: 320px;
    padding: 0 30px;
    margin: 0 auto; }

@media (min-width: 768px) {
  .contacts {
    padding-top: 66px; }
    .contacts__wrapper {
      width: 768px;
      padding: 0 50px; }
    .contacts__title {
      font-size: 43px;
      line-height: 50px;
      position: relative; }
    .contacts__title::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      top: -18px;
      left: 621px; }
    .contacts__write {
      width: 230px;
      margin: 0 auto;
      margin-top: 55px; }
    .contacts__table tr {
      width: 330px;
      margin: 0;
      vertical-align: top;
      padding-right: 20px;
      padding-bottom: 20px; }
    .contacts__photo {
      margin-top: 30px;
      background-image: url("../img/map-tablet@1x.jpg"); } }
    @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
      .contacts__photo {
        background-image: url("../img/map-tablet@2x.jpg");
        background-size: 768px auto; } }

@media (min-width: 768px) {
    .contacts__table td {
      width: 230px;
      font-size: 17px; }
    .contacts__table td:first-child {
      width: 65px; } }

@media (min-width: 1250px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1250px;
    padding: 70px 100px 70px 275px;
    margin: 0 auto;
    height: 630px; }
    .contacts__table {
      width: 350px; }
    .contacts__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; }
    .contacts__title {
      font-size: 53px;
      line-height: 57px;
      margin-top: 70px;
      margin-bottom: 50px; }
    .contacts__title::before {
      top: -12px;
      left: -112px; }
    .contacts__wrapper {
      width: 350px;
      padding: 0;
      margin: 0; }
    .contacts__photo {
      width: 525px;
      height: 457px;
      margin: 0;
      background-image: url("../img/map-desktop@1x.jpg");
      order: 2; } }
    @media (min-width: 1250px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1250px) and (min-resolution: 144dpi), (min-width: 1250px) and (min-resolution: 1.5dppx) {
      .contacts__photo {
        background-image: url("../img/map-desktop@2x.jpg");
        background-size: 525px auto; } }

@media (min-width: 1250px) {
    .contacts__write {
      margin: 0;
      margin-top: 63px; } }

.page-footer {
  background-color: #f1f1f1;
  padding-bottom: 23px; }
  .page-footer__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 160px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 22px; }
  .page-footer__list::before {
    position: absolute;
    content: "";
    width: 260px;
    height: 1px;
    background-color: #e5e5e5;
    bottom: 0;
    left: -50px; }
  .page-footer__element svg {
    display: inline-block;
    transition: all 0.12s ease; }
  .page-footer__link {
    display: block; }
  .page-footer__element--instagram svg {
    width: 22px;
    height: 21px; }
  .page-footer__element--facebook svg {
    width: 15px;
    height: 29px; }
  .page-footer__element--twitter svg {
    width: 24px;
    height: 20px; }
  .page-footer__element {
    width: 35px;
    height: 35px;
    text-align: center; }
  .page-footer__element--instagram .page-footer__link {
    padding-top: 6px; }
  .page-footer__element--twitter .page-footer__link {
    padding-top: 6px; }
  .page-footer__element--instagram:hover .page-footer__link-icon, .page-footer__element--instagram:focus .page-footer__link-icon, .page-footer__element--facebook:hover .page-footer__link-icon, .page-footer__element--facebook:focus .page-footer__link-icon, .page-footer__element--twitter:hover .page-footer__link-icon, .page-footer__element--twitter:focus .page-footer__link-icon {
    opacity: 0.6; }
  .page-footer__element--instagram:active .page-footer__link-icon, .page-footer__element--facebook:active .page-footer__link-icon, .page-footer__element--twitter:active .page-footer__link-icon {
    opacity: 0.3; }
  .page-footer__copyright {
    display: flex;
    width: 185px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    margin: 0;
    margin-top: 22px;
    margin-left: 36px;
    font-size: 19px;
    line-height: 18px;
    color: #000; }
  .page-footer__copyright:hover .page-footer__copyright-icon, .page-footer__copyright:focus .page-footer__copyright-icon {
    fill: #46c1ae; }
  .page-footer__copyright:active {
    color: #bfbfbf; }
    .page-footer__copyright:active .page-footer__copyright-icon {
      fill: #bde3dd; }
  .page-footer__logo-description {
    margin: 0;
    margin-top: 7px; }
  .page-footer__copyright-icon {
    width: 27px;
    height: 34px;
    fill: #63d1bb;
    transition: all 0.12s ease; }
  .page-footer__logo {
    display: none; }

@media (min-width: 768px) {
  .page-footer {
    padding-bottom: 0; }
    .page-footer .main-container,
    .page-footer .main-catalog-container {
      display: flex;
      flex-wrap: wrap;
      padding-top: 51px;
      padding-bottom: 51px; }
    .page-footer__logo {
      display: block;
      width: 102px;
      height: 34px;
      margin-right: 150px; }
    .page-footer__logo:hover .page-footer__logo-icon, .page-footer__logo:focus .page-footer__logo-icon {
      opacity: 0.6; }
    .page-footer__logo:active .page-footer__logo-icon {
      opacity: 0.3; }
    .page-footer__logo-icon {
      width: 102px;
      height: 34px;
      transition: all 0.12s ease; }
    .page-footer__list {
      margin: 0;
      padding: 0;
      margin-right: auto; }
    .page-footer__list::before {
      display: none; }
    .page-footer__copyright {
      margin-left: 0;
      margin-top: 2px; } }

@media (min-width: 1250px) {
  .page-footer__logo {
    margin-right: 335px; } }

.catalog-page__title {
  font-size: 27px;
  color: #000;
  margin: 0;
  text-align: center;
  padding: 73px 0; }

.catalog-page__wrapper {
  background-color: #f1f1f1; }

.products {
  padding-top: 30px; }
  .products__wrapper {
    padding: 0 28px;
    padding-bottom: 25px;
    border: 1px solid #ededed; }
  .products__photo {
    width: 260px;
    height: 195px;
    background-color: #e3e3e3; }
  .products__link {
    text-decoration: none;
    color: #000;
    transition: all 0.15s ease; }
  .products__link:hover, .products__link:focus {
    color: rgba(68, 68, 68, 0.6); }
  .products__link:active {
    color: rgba(68, 68, 68, 0.3); }
  .products__list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .products__title {
    margin-top: 28px;
    margin-bottom: 12px;
    font-size: 17px;
    line-height: 24px;
    color: #000; }
  .products__description {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed; }
  .products__cost {
    position: relative;
    margin: 0;
    margin-top: 24px;
    font-size: 15px;
    line-height: 24px;
    color: #000;
    padding-right: 50px; }
  .products__icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 21px;
    height: 18px;
    fill: #d3d2d2; }
  .products__element {
    margin-bottom: 30px;
    transition: all 0.15s ease; }
  .products__element:hover, .products__element:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
  .products__element:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

@media (min-width: 768px) {
  .catalog-page__title {
    padding-top: 50px; }
  .catalog-page__wrapper {
    background-image: url("../img/icon-bg-zigzag-fill.svg");
    background-repeat: repeat-X;
    background-position: 0 bottom;
    background-size: auto 22px; }
  .products {
    padding-top: 90px; }
    .products__photo {
      width: 334px;
      height: 334px; }
    .products__element {
      display: flex;
      flex-wrap: wrap; }
    .products__wrapper {
      display: flex;
      flex-direction: column;
      padding-left: 33px;
      padding-right: 33px;
      width: 334px; }
    .products__title {
      font-size: 20px;
      margin-top: 26px; }
    .products__description {
      font-size: 15px;
      flex-grow: 1; }
    .products__cost {
      font-size: 17px; }
    .products__element {
      margin-bottom: 54px; } }

@media (min-width: 1250px) {
  .catalog-page__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 37px;
    padding-bottom: 101px; }
  .catalog-page__wrapper {
    background-size: auto 32px; }
  .products {
    padding-top: 128px; }
    .products__list {
      display: flex;
      flex-wrap: wrap; }
    .products__element {
      flex-direction: column; }
    .products__photo {
      width: 316px;
      height: 462px; }
    .products__element {
      margin-right: 51px; }
    .products__element:last-child {
      margin-right: 0; }
    .products__wrapper {
      width: 316px;
      flex-grow: 1; } }

.production {
  padding-bottom: 58px; }
  .production__title {
    margin: 0;
    margin-top: 23px;
    margin-bottom: 33px;
    font-size: 17px;
    line-height: 24px;
    color: #000;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: 6px 5px; }
  .production__description {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400; }
  .production__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    border: 1px solid #ececec;
    transition: all 0.15s ease; }
  .production__list:hover, .production__list:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
  .production__list:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }
  .production__video {
    position: relative;
    width: 260px;
    margin-left: -1px;
    height: 150px;
    background-color: #e3e3e3; }
  .production__icon-video {
    position: absolute;
    width: 102px;
    height: 78px;
    top: calc(50% - 39px);
    left: calc(50% - 51px);
    cursor: pointer;
    transition: all 0.12s ease; }
  .production__icon-video:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }
  .production__icon-video:active {
    opacity: 0.8;
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8); }
  .production__element {
    padding: 0 33px; }
  .production__element--video {
    padding: 0; }
  .production__title {
    padding-left: 57px; }

@media (min-width: 768px) {
  .production__list {
    padding-bottom: 45px;
    display: flex;
    flex-direction: column; }
  .production__element--video {
    order: -1; }
  .production__video {
    width: 668px;
    height: 455px; }
  .production__element {
    padding: 0 41px; }
  .production__element--video {
    padding: 0; }
  .production__title {
    padding-left: 65px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    background-position: 0px 0px; }
  .production__description {
    margin-top: 27px;
    margin-bottom: 32px;
    font-size: 15px;
    line-height: 30px; } }

@media (min-width: 1250px) {
  .production__video {
    margin-top: -1px;
    width: 682px;
    height: 455px; }
  .production__list {
    height: 455px;
    flex-wrap: wrap; }
  .production__element {
    width: 366px;
    padding-left: 80px;
    padding-right: 56px; }
  .production__element--video {
    padding: 0;
    width: 682px; }
  .production__title {
    padding-left: 0;
    padding-top: 52px;
    margin-top: 46px; }
  .production__description {
    margin-top: 34px;
    margin-bottom: 43px; } }

.form-page__title {
  margin: 0;
  font-size: 27px;
  color: #231f20;
  padding-top: 70px;
  padding-bottom: 73px;
  text-align: center; }

.form-page__wrapper-color {
  background-color: #f1f1f1; }

.worksheet__description {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px; }

@media (min-width: 768px) {
  .form-page__title {
    font-size: 43px;
    line-height: 50px;
    color: #000;
    padding-top: 40px;
    padding-bottom: 80px; }
  .form-page__wrapper-color {
    background-image: url("../img/icon-bg-zigzag-fill.svg");
    background-repeat: repeat-X;
    background-position: 0 bottom;
    background-size: auto 22px; }
  .worksheet__description {
    padding-top: 75px;
    padding-bottom: 50px;
    font-size: 17px;
    line-height: 30px; } }

@media (min-width: 1250px) {
  .form-page__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 43px;
    padding-bottom: 106px; }
  .form-page__wrapper-color {
    background-size: auto 32px; }
  .worksheet__description {
    padding-top: 110px;
    padding-bottom: 57px;
    padding-left: 175px;
    padding-right: 175px;
    font-size: 17px;
    line-height: 30px; } }

.main-form {
  padding-bottom: 55px; }
  .main-form label {
    display: block;
    font-size: 17px;
    line-height: 18px;
    color: #000; }
  .main-form input, .main-form textarea {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent; }
  .main-form__about {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 25px;
    line-height: 16px;
    color: #63d1bb; }
    .main-form__about::after {
      content: "";
      width: 50px;
      height: 1px;
      margin-left: 25px;
      background-color: #62d1ba;
      flex-grow: 1; }
  .main-form__list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .main-form__list input[type=text],
    .main-form__list input[type="tel"],
    .main-form__list input[type="email"] {
      border: none;
      border-bottom: 2px solid #000;
      transition: all 0.15s ease; }
    .main-form__list input[type=text]:hover,
    .main-form__list input[type=text]:focus,
    .main-form__list input[type=text]:active {
      border-color: #62d1ba; }
    .main-form__list input[type=tel]:hover,
    .main-form__list input[type=tel]:focus,
    .main-form__list input[type=tel]:active {
      border-color: #62d1ba; }
    .main-form__list input[type=email]:hover,
    .main-form__list input[type=email]:focus,
    .main-form__list input[type=email]:active {
      border-color: #62d1ba; }
  .main-form__name {
    margin-bottom: 22px; }
  .main-form__surname {
    margin-bottom: 22px; }
  .main-form__phone {
    width: 100%;
    padding-right: 45px; }
  .main-form__email {
    width: 100%;
    padding-right: 45px; }
  .main-form__email-icon {
    position: absolute;
    width: 32px;
    height: 30px;
    fill: #cccccc;
    top: 9px;
    right: 4px; }
  .main-form__phone-icon {
    position: absolute;
    width: 25px;
    height: 24px;
    fill: #cccccc;
    top: 9px;
    right: 4px; }
  .main-form__textarea {
    padding: 15px;
    color: rgba(68, 68, 68, 0.3);
    border: 2px solid #444444;
    transition: all 0.15s ease; }
    .main-form__textarea:hover, .main-form__textarea:focus, .main-form__textarea:active {
      border-color: #62d1ba; }
  .main-form__content {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    padding-bottom: 34px; }
  .main-form__element {
    width: 100vw; }
  .main-form__element:last-child {
    padding-bottom: 0; }
  .main-form__necessarily {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 14px;
    margin-bottom: 33px; }
  .main-form__wrapper--type label {
    position: relative;
    padding-left: 63px;
    margin-bottom: 13px;
    padding-top: 11px;
    padding-bottom: 11px;
    cursor: pointer; }
    .main-form__wrapper--type label .radio-indicator {
      position: absolute;
      top: 2px;
      left: 0;
      width: 38px;
      height: 38px;
      border: 2px solid #444444;
      border-radius: 50%;
      transition: all 0.15s ease; }
    .main-form__wrapper--type label .radio-indicator::after {
      display: none;
      content: "";
      position: absolute;
      top: 9px;
      left: 9px;
      border: 8px solid #62d1ba;
      border-radius: 50%; }
    .main-form__wrapper--type label input[type="radio"]:checked + .radio-indicator::after {
      display: block; }
  .main-form__wrapper--type label:hover .radio-indicator,
  .main-form__wrapper--type label:focus .radio-indicator {
    border-color: #62d1ba; }
  .main-form__wrapper--type label:active .radio-indicator {
    border-color: #c7c7c7; }
  .main-form__wrapper--type label:last-child {
    margin-bottom: 0; }
  .main-form__wrapper--color label {
    position: relative;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 64px;
    margin-bottom: 22px;
    cursor: pointer; }
    .main-form__wrapper--color label .checkbox-indicator {
      position: absolute;
      width: 40px;
      height: 40px;
      border: 2px solid #444444;
      top: 0;
      left: 0;
      transition: all 0.15s ease; }
      .main-form__wrapper--color label .checkbox-indicator::after {
        display: none;
        content: "";
        position: absolute;
        top: 18px;
        left: 10px;
        width: 22px;
        height: 2px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        background-color: #000; }
      .main-form__wrapper--color label .checkbox-indicator::before {
        display: none;
        content: "";
        position: absolute;
        top: 22px;
        left: 5px;
        width: 10px;
        height: 2px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        background-color: #000; }
    .main-form__wrapper--color label input[type="checkbox"]:checked + .checkbox-indicator::after,
    .main-form__wrapper--color label input[type="checkbox"]:checked + .checkbox-indicator::before {
      display: block; }
  .main-form__wrapper--color label:hover .checkbox-indicator,
  .main-form__wrapper--color label:focus .checkbox-indicator {
    border-color: #62d1ba; }
  .main-form__wrapper--color label:active .checkbox-indicator {
    border-color: #c7c7c7; }
  .main-form__wrapper--personal input {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px; }
  .main-form__wrapper--personal label p {
    margin: 0; }
  .main-form__about--call {
    margin-bottom: 9px; }
  .main-form__wrapper--call {
    position: relative; }
    .main-form__wrapper--call input {
      padding-top: 16px;
      padding-bottom: 16px; }
  .main-form__about--email {
    margin-top: 34px;
    margin-bottom: 9px; }
  .main-form__wrapper--email {
    position: relative; }
    .main-form__wrapper--email input {
      padding-top: 16px;
      padding-bottom: 16px; }
  .main-form__about--wishes {
    margin-bottom: 23px; }
  .main-form__wrapper--wishes textarea {
    width: 100%; }
  .main-form__footer {
    padding: 0 30px; }
  .main-form__order {
    background-color: transparent;
    font-weight: 700;
    font-size: 17px;
    width: 100%;
    cursor: pointer; }

@media (min-width: 768px) {
  .main-form {
    padding-bottom: 50px; }
    .main-form input, .main-form textarea {
      font-size: 19px; }
    .main-form__content {
      width: 768px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      padding-top: 50px;
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto; }
    .main-form__element:last-child {
      padding-bottom: 50px; }
    .main-form__element--color {
      background-color: #f1f1f1; }
    .main-form__about {
      width: 167px;
      align-items: flex-start; }
      .main-form__about::after {
        display: none; }
    .main-form__about--color {
      width: 167px; }
    .main-form__about--personal {
      padding-top: 22px; }
    .main-form__about--type {
      padding-top: 17px; }
    .main-form__about--wishes {
      padding-top: 17px; }
    .main-form label {
      font-size: 19px; }
    .main-form__wrapper {
      width: 500px; }
    .main-form__wrapper--type label {
      padding-left: 80px;
      margin-bottom: 24px;
      padding-top: 17px;
      padding-bottom: 17px; }
      .main-form__wrapper--type label .radio-indicator {
        width: 52px;
        height: 52px; }
        .main-form__wrapper--type label .radio-indicator::after {
          border: 10px solid #62d1ba;
          top: 14px;
          left: 14px; }
    .main-form__wrapper--type label:last-child {
      margin-bottom: 0; }
    .main-form__about {
      margin-bottom: 0; }
    .main-form__wrapper--color {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .main-form__wrapper--color label {
        width: 240px;
        padding-left: 82px;
        padding-top: 17px;
        padding-bottom: 17px; }
        .main-form__wrapper--color label .checkbox-indicator {
          width: 54px;
          height: 52px; }
          .main-form__wrapper--color label .checkbox-indicator::after {
            width: 32px;
            top: 22px;
            left: 17px; }
          .main-form__wrapper--color label .checkbox-indicator::before {
            width: 17px;
            top: 27px;
            left: 8px; }
    .main-form__wrapper--personal label {
      display: flex;
      margin-bottom: 12px; }
    .main-form__wrapper--personal label:last-child {
      margin-bottom: 0; }
    .main-form__wrapper--personal p {
      padding-right: 25px;
      padding-top: 22px; }
    .main-form__wrapper--call {
      flex-grow: 1;
      margin-bottom: 12px; }
    .main-form__about--call {
      padding-top: 22px;
      margin-bottom: 12px; }
    .main-form__phone {
      width: 100%; }
    .main-form__wrapper--email {
      flex-grow: 1; }
    .main-form__email {
      width: 100%; }
    .main-form__about--email {
      margin: 0;
      padding-top: 22px; }
    .main-form__footer {
      width: 768px;
      margin: 0 auto;
      padding: 0 50px;
      display: flex; }
    .main-form__necessarily {
      order: 2;
      font-size: 17px;
      line-height: 30px;
      margin-left: auto; }
    .main-form__order {
      width: 230px; } }

@media (min-width: 1250px) {
  .main-form__content {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 110px; }
  .main-form__element--color {
    background-color: #f1f1f1; }
  .main-form__email-icon {
    top: 12px;
    right: 189px; }
  .main-form__phone-icon {
    top: 12px;
    right: 194px; }
  .main-form__about {
    width: 115px; }
  .main-form__wrapper {
    width: 875px;
    padding-right: 175px; }
  .main-form__wrapper--color {
    padding-right: 0;
    justify-content: flex-start; }
    .main-form__wrapper--color label {
      margin-right: 23px; }
  .main-form__wrapper--personal label {
    margin-bottom: 15px; }
  .main-form__content--small {
    padding-top: 40px; }
  .main-form__wrapper--call {
    margin-bottom: 15px; }
  .main-form__footer {
    width: 1150px;
    padding: 0 225px; } }
