/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/opensansextrabold.woff2") format("woff2"), url("../fonts/opensansextrabold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

body {
  font-family: "Open-Sans", serif;
  font-size: 15px;
  background: #ffffff;
  background-color: #fff;
  margin: 0; }

.back {
  position: absolute;
  width: 100%;
  height: 5000px;
  opacity: 0.3;
  top: 0;
  left: 0;
  background-image: url("../img/5.png");
  background-repeat: no-repeat;
  background-size: contain; }

.container {
  width: 1000px;
  padding-left: 50px;
  margin-left: auto;
  margin-right: auto; }

.main-header {
  transition: all 0.4s ease-out;
  background-color: #fff;
  padding-bottom: 20px; }
  .main-header .container {
    display: flex;
    justify-content: space-between; }
  .main-header__logo {
    transition: all 0.4s ease-out;
    width: 200px;
    height: 50px;
    margin-top: 25px;
    background-image: url("../img/icons/logo-black.svg");
    background-size: contain;
    background-repeat: no-repeat; }
  .main-header__menu {
    transition: all 0.4s ease-out;
    padding-top: 12px;
    list-style: none;
    padding-left: 0;
    display: flex;
    width: 600px;
    justify-content: space-between; }
    .main-header__menu .submenu {
      list-style: none;
      padding-left: 0;
      position: absolute;
      left: 50%;
      top: 105%;
      width: 182px;
      margin-left: -91px;
      z-index: 10;
      visibility: hidden;
      opacity: 0;
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
      transition: .4s ease-in-out;
      display: flex;
      flex-direction: column; }
      .main-header__menu .submenu li {
        margin-bottom: 5px;
        font-size: 8px;
        text-align: center;
        -webkit-transform: skewX(-20deg);
                transform: skewX(-20deg);
        display: inline-block;
        background: grey;
        border-radius: 5px;
        background: linear-gradient(to right, #ececec 1%, #fdfdfd 52%, #ececec 100%); }
        .main-header__menu .submenu li span {
          padding: 6px 16px;
          display: inline-block;
          -webkit-transform: skewX(20deg);
                  transform: skewX(20deg); }
        .main-header__menu .submenu li a {
          color: #2b2a29;
          text-decoration: none; }
  .main-header__element {
    position: relative; }
    .main-header__element:hover .ss {
      background: linear-gradient(to right, #e31e24 1%, #f24e22 52%, #e31e24 100%);
      box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3); }
    .main-header__element:hover .submenu {
      visibility: visible;
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); }
  .main-header__link {
    display: inline-block;
    text-decoration: none;
    color: #2b2a29; }
    .main-header__link span {
      padding: 6px 16px;
      display: inline-block;
      -webkit-transform: skewX(20deg);
              transform: skewX(20deg); }
    .main-header__link:hover {
      color: #ffffff; }
  .main-header .ss {
    transition: all 0.6s ease;
    border-radius: 5px;
    display: inline-block;
    -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg); }

.main-header.fixed {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-bottom: 0px; }
  .main-header.fixed .main-header__logo {
    margin-top: 10px;
    width: 160px;
    height: 40px; }
  .main-header.fixed .main-header__menu {
    margin-top: 0; }

.slider {
  position: relative;
  min-height: 415px; }
  .slider__title {
    font-size: 60px;
    font-weight: 900;
    width: 700px;
    line-height: 1;
    letter-spacing: -3px;
    padding-top: 50px;
    margin-top: 0;
    margin-bottom: 15px; }
  .slider__description {
    width: 400px;
    line-height: 1.2; }
  .slider__item {
    padding-left: 230px;
    height: 415px;
    background-color: grey;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: 0 0, center center;
    color: #ffffff; }
    .slider__item--first {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(125, 185, 232, 0) 100%), url("../img/slider-1.jpg"); }
    .slider__item--second {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(125, 185, 232, 0) 100%), url("../img/slider-2.jpg"); }
    .slider__item--third {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(125, 185, 232, 0) 100%), url("../img/slider-3png.png"); }
    .slider__item--four {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(125, 185, 232, 0) 100%), url("../img/slider-4.jpg"); }

.slider.fixed {
  padding-top: 59px; }

.owl-dots {
  position: absolute;
  display: flex;
  bottom: 20px;
  left: calc(50% - 48px); }
  .owl-dots .owl-dot {
    margin-right: 20px; }
    .owl-dots .owl-dot span {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #12e9ed; }
  .owl-dots .owl-dot.active span {
    background-color: #ffffff; }

.services {
  padding-top: 12px; }
  .services .container {
    padding-left: 25px; }
  .services__title {
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 17px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
    text-align: center; }
    .services__title::before {
      content: '';
      position: absolute;
      bottom: -4px;
      margin-left: auto;
      margin-right: auto;
      width: 70px;
      height: 4px;
      background-color: red; }
  .services__wrapper {
    height: 220px;
    width: 165px;
    position: relative;
    border-radius: 10px;
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
    overflow: hidden;
    margin-bottom: 25px;
    margin-left: 10px; }
  .services__photo {
    position: absolute;
    z-index: -1;
    left: -20px;
    bottom: 0;
    width: 205px;
    height: 250px;
    background-color: grey;
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg); }
    .services__photo::before {
      content: '';
      z-index: -2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 250px;
      background-color: rgba(0, 0, 0, 0.3); }
  .services__item:nth-child(1) .services__photo {
    background-image: url("../img/services-1.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .services__item:nth-child(2) .services__photo {
    background-image: url("../img/services-2.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .services__item:nth-child(3) .services__photo {
    background-image: url("../img/services-3.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .services__item:nth-child(4) .services__photo {
    background-image: url("../img/services-4.png");
    background-size: cover;
    background-repeat: no-repeat; }
  .services__name {
    color: #fff;
    width: 110px;
    font-weight: 900;
    padding-top: 120px;
    padding-left: 42px;
    line-height: 1;
    margin-top: 0; }
  .services__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 60px; }
  .services__description {
    width: 180px;
    font-size: 12px;
    margin-top: 0; }
  .services__item {
    margin-right: 10px; }

.projects {
  padding-top: 12px;
  padding-bottom: 78px; }
  .projects .container {
    padding-left: 30px; }
  .projects__list {
    position: relative;
    list-style: none;
    min-height: 402px;
    padding-left: 0; }
  .projects__title {
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 17px;
    width: 340px;
    word-wrap: break-word;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center; }
    .projects__title::before {
      content: '';
      position: absolute;
      bottom: -4px;
      width: 82px;
      height: 4px;
      background-color: red; }
  .projects__item {
    color: #fff;
    cursor: pointer;
    position: absolute;
    display: flex;
    padding-left: 30px; }
    .projects__item::before {
      opacity: 0;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.3);
      transition: all 0.8s ease; }
    .projects__item:hover .projects__wrapper {
      opacity: 1; }
    .projects__item:hover:before {
      opacity: 1; }
  .projects__wrapper {
    z-index: 100;
    opacity: 0;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.8s ease; }
  .projects__name {
    font-weight: 900;
    font-size: 27px;
    width: 222px;
    line-height: 1.1;
    margin-top: 5px;
    margin-bottom: 10px; }
  .projects__description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    width: 100%;
    padding-right: 20px; }
  .projects__item:nth-child(1) {
    background-image: url("../img/projects-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 266px;
    height: 402px;
    top: 0;
    left: 0; }
  .projects__item:nth-child(2) {
    background-image: url("../img/projects-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 260px;
    height: 260px;
    top: 0;
    left: 264px; }
  .projects__item:nth-child(3) {
    background-image: url("../img/projects-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 388px;
    height: 260px;
    top: 0;
    left: 524px; }
  .projects__item:nth-child(4) {
    background-image: url("../img/projects-4.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 460px;
    height: 142px;
    top: 260px;
    left: 264px; }
  .projects__item:nth-child(5) {
    background-image: url("../img/projects-5.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 188px;
    height: 142px;
    left: 724px;
    top: 260px; }
    .projects__item:nth-child(5) .projects__name {
      width: 150px; }
    .projects__item:nth-child(5) .projects__description {
      width: 150px; }

.mainfooter {
  background: linear-gradient(to right, #e31e24 1%, #f24e22 52%, #e31e24 100%);
  color: #fff;
  padding-bottom: 19px; }
  .mainfooter__conf {
    color: #ffffff;
    position: relative;
    font-size: 11px;
    margin-top: 32px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    text-align: center; }
    .mainfooter__conf::before {
      position: absolute;
      content: '';
      height: 2px;
      width: 100%;
      background-color: #fff;
      top: 0;
      left: 0; }
  .mainfooter .contacts {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
    margin-top: 0;
    list-style: none;
    padding-left: 5px; }
    .mainfooter .contacts__item--data {
      margin-top: 15px; }
    .mainfooter .contacts__phone {
      font-weight: 900;
      font-size: 45px;
      word-spacing: 6px; }
    .mainfooter .contacts__description {
      font-size: 20px;
      width: 320px;
      margin-top: 10px;
      line-height: 1.7; }
  .mainfooter .form {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 9px; }
    .mainfooter .form__name, .mainfooter .form__mail, .mainfooter .form__textarea {
      width: 331px;
      border-radius: 5px;
      font-family: inherit;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 10px;
      padding-right: 10px;
      font-style: italic;
      font-size: 12px;
      margin-bottom: 10px; }
    .mainfooter .form input, .mainfooter .form textarea {
      border: none; }
    .mainfooter .form__textarea {
      height: 86px;
      margin-bottom: 23px; }
    .mainfooter .form__button {
      color: #E31E24;
      cursor: pointer;
      background-color: #fff;
      width: 330px;
      word-wrap: break-word;
      border-radius: 9px;
      font-weight: 900;
      font-size: 18px;
      text-transform: uppercase;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 10px; }
  .mainfooter .nav {
    display: flex;
    justify-content: space-between; }
    .mainfooter .nav__list {
      list-style: none;
      margin-right: 50px;
      margin-top: 4px;
      margin-bottom: 0;
      padding-left: 0;
      text-align: right; }
    .mainfooter .nav__item {
      margin-top: -3px; }
      .mainfooter .nav__item a {
        font-size: 10px;
        color: #fff; }
      .mainfooter .nav__item a:hover, .mainfooter .nav__item a:focus {
        text-decoration: none; }
    .mainfooter .nav__logo {
      width: 200px;
      height: 49px;
      margin-top: 30px;
      background-image: url("../img/icons/logo-white.svg");
      background-repeat: no-repeat;
      background-size: contain; }

.about {
  background-image: url("../img/about/bridge.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #2b2a29;
  padding-top: 60px;
  padding-left: 220px;
  padding-bottom: 100px; }
  .about__title {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 40px;
    width: 280px;
    line-height: 1;
    margin-bottom: 0; }
  .about__description {
    font-size: 14px;
    width: 500px; }

.sphere {
  background-image: url("../img/about/station.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 36px;
  padding-bottom: 50px;
  min-height: 410px; }
  .sphere__title {
    color: #2b2a29;
    font-size: 16px;
    width: 450px;
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: normal; }
  .sphere__wrapper {
    display: flex;
    margin-left: 400px; }
  .sphere .transports__title {
    color: #e31e24;
    display: block;
    font-size: 17px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 900;
    width: 170px;
    margin-bottom: 10px; }
  .sphere .transports__bridges {
    position: relative;
    margin-top: 0; }
    .sphere .transports__bridges::before {
      content: '';
      position: absolute;
      height: 30px;
      width: 2px;
      left: 20px;
      bottom: -34px;
      background-color: #e31e24; }
  .sphere .energetics {
    text-align: right;
    margin-top: 20px;
    margin-left: 255px; }
    .sphere .energetics__title {
      color: #e31e24;
      display: block;
      font-size: 17px;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 10px; }
    .sphere .energetics__generation {
      position: relative;
      margin-top: 0; }
      .sphere .energetics__generation::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 35px;
        background-color: #e31e24;
        top: 10px;
        right: -38px; }
    .sphere .energetics__biogaz {
      position: relative;
      line-height: 1;
      text-align: right;
      margin-top: 0;
      margin-left: auto;
      width: 90px; }
      .sphere .energetics__biogaz::before {
        content: '';
        position: absolute;
        background-color: #e31e24;
        width: 20px;
        height: 2px;
        left: -10px;
        top: 20px; }
      .sphere .energetics__biogaz::after {
        content: '';
        position: absolute;
        background-color: #e31e24;
        width: 2px;
        height: 70px;
        left: -10px;
        top: 20px; }

.advantages {
  color: #2b2a29;
  background-color: #D9DADA;
  padding-top: 30px;
  padding-bottom: 25px; }
  .advantages__title {
    width: 250px;
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37px;
    font-weight: 700;
    text-transform: uppercase; }
  .advantages__list {
    width: 700px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    list-style: none; }
  .advantages__photo {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: contain; }
    .advantages__photo--first {
      background-image: url("../img/about/advantages-1.svg"); }
    .advantages__photo--second {
      background-image: url("../img/about/advantages-2.svg"); }
    .advantages__photo--third {
      background-image: url("../img/about/advantages-3.svg"); }
    .advantages__photo--four {
      background-image: url("../img/about/advantages-4.svg"); }
  .advantages__description {
    width: 150px;
    font-size: 12px;
    line-height: 1;
    text-align: center; }
  .advantages__element {
    margin-right: 26px; }

.friends {
  color: #2B2A29;
  padding-top: 30px;
  padding-bottom: 45px; }
  .friends__list {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0; }
  .friends .line {
    width: 1px;
    height: 180px;
    background-color: #b2b2b2;
    margin-top: 20px; }
  .friends .partners__title {
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 8px; }
  .friends .partners__list {
    position: relative;
    padding-left: 0;
    list-style: none;
    width: 310px;
    height: 180px; }
  .friends .partners__element {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover; }
  .friends .partners__element:nth-child(1) {
    top: 0;
    left: 0;
    width: 70px;
    height: 63px;
    background-image: url("../img/about/unknow.png"); }
  .friends .partners__element:nth-child(2) {
    top: 0;
    left: 75px;
    width: 115px;
    height: 63px;
    background-image: url("../img/about/unknow.png"); }
  .friends .partners__element:nth-child(3) {
    top: 0;
    left: 196px;
    width: 115px;
    height: 135px;
    background-image: url("../img/about/unknow.png"); }
  .friends .partners__element:nth-child(4) {
    top: 70px;
    left: 0;
    width: 120px;
    height: 65px;
    background-image: url("../img/about/unknow.png"); }
  .friends .partners__element:nth-child(5) {
    top: 70px;
    left: 125px;
    width: 65px;
    height: 65px;
    background-image: url("../img/about/unknow.png"); }
  .friends .partners__element:nth-child(6) {
    top: 140px;
    left: 0;
    width: 190px;
    height: 40px;
    background-image: url("../img/about/unknow.png"); }
  .friends .partners__element:nth-child(7) {
    top: 140px;
    left: 197px;
    width: 115px;
    height: 40px;
    background-image: url("../img/about/unknow.png"); }
  .friends .clients__title {
    text-align: right;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 8px; }
  .friends .clients__list {
    position: relative;
    padding-left: 0;
    list-style: none;
    width: 310px;
    height: 180px; }
  .friends .clients__element {
    position: absolute; }
  .friends .clients__element:nth-child(1) {
    top: 0;
    left: 0;
    width: 115px;
    height: 133px;
    background-image: url("../img/about/unknow.png"); }
  .friends .clients__element:nth-child(2) {
    top: 0;
    left: 122px;
    width: 115px;
    height: 63px;
    background-image: url("../img/about/unknow.png"); }
  .friends .clients__element:nth-child(3) {
    top: 0;
    left: 245px;
    width: 65px;
    height: 63px;
    background-image: url("../img/about/unknow.png"); }
  .friends .clients__element:nth-child(4) {
    top: 70px;
    left: 122px;
    width: 65px;
    height: 63px;
    background-image: url("../img/about/unknow.png"); }
  .friends .clients__element:nth-child(5) {
    top: 70px;
    left: 192px;
    width: 118px;
    height: 63px;
    background-image: url("../img/about/unknow.png"); }
  .friends .clients__element:nth-child(6) {
    top: 140px;
    left: 0;
    width: 116px;
    height: 38px;
    background-image: url("../img/about/unknow.png"); }
  .friends .clients__element:nth-child(7) {
    top: 140px;
    left: 120px;
    width: 190px;
    height: 38px;
    background-image: url("../img/about/unknow.png"); }

.transport {
  background-color: #ebecec; }
  .transport__wrapper {
    justify-content: space-between;
    display: flex;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    padding-bottom: 40px; }
  .transport__title {
    color: #2b2a29;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 35px;
    width: 280px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 7px; }
  .transport__description {
    color: #2b2a29;
    font-size: 14px;
    width: 400px;
    margin-top: 0;
    margin-bottom: 35px; }
  .transport__button {
    display: inline-block;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 900;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    width: 250px;
    border-radius: 5px;
    color: #5b5b5b;
    background-color: #c5c6c6; }

.right-column {
  margin-top: 7px;
  width: 325px;
  height: 250px;
  background-image: url("../img/object.png"); }

.left-column {
  margin-left: 35px; }

.energetic {
  background-color: #ebecec; }
  .energetic__wrapper {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    padding-bottom: 40px; }
  .energetic__title {
    color: #2b2a29;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 35px;
    width: 280px;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 16px; }
  .energetic__description {
    color: #2b2a29;
    font-size: 11px;
    line-height: 1.3;
    width: 410px;
    margin-top: 0;
    margin-bottom: 10px; }
  .energetic__button {
    display: inline-block;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 900;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
    width: 250px;
    border-radius: 5px;
    color: #5b5b5b;
    background-color: #c5c6c6; }
  .energetic__right-column {
    margin-top: 7px;
    width: 325px;
    height: 250px;
    background-image: url("../img/object.png"); }
  .energetic__gaz {
    color: #2b2a29;
    width: 460px;
    display: block;
    font-size: 11px;
    font-weight: 900;
    margin-bottom: 40px; }
  .energetic__left-column {
    margin-left: 35px; }

.feedback {
  background-color: #ebecec;
  background-image: url("../img/map-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 55px; }
  .feedback__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px; }
  .feedback__information {
    display: flex;
    flex-direction: column; }
  .feedback__title {
    font-size: 19px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 43px; }
  .feedback__name, .feedback__mail, .feedback__textarea {
    width: 287px;
    border-radius: 5px;
    font-family: inherit;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    font-size: 10px;
    background-color: #fff; }
  .feedback__name {
    margin-bottom: 14px; }
  .feedback input, .feedback textarea {
    border: none;
    background-color: fff; }
  .feedback__textarea {
    height: 72px;
    margin-bottom: 10px; }
  .feedback__button {
    color: #E31E24;
    cursor: pointer;
    background-color: #fff;
    width: 285px;
    word-wrap: break-word;
    border-radius: 9px;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto; }
  .feedback__contacts {
    font-size: 14px;
    padding-left: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 580px;
    margin-left: auto;
    margin-right: auto; }
  .feedback__elemnt {
    padding-left: 30px;
    margin-right: 32px;
    background-repeat: no-repeat; }
    .feedback__elemnt:last-child {
      margin-right: 0; }
    .feedback__elemnt--map {
      width: 240px;
      background-image: url("../img/icons/map.png");
      background-size: 17px auto;
      background-position: 5px center; }
    .feedback__elemnt--mail {
      background-image: url("../img/icons/message.png");
      background-size: 21px auto;
      background-position: 3px center; }
    .feedback__elemnt--phone {
      background-image: url("../img/icons/phone.png");
      background-size: 13px auto;
      background-position: 13px center; }

.mainfooter--contacts {
  padding-top: 20px; }
